<ion-grid style="display: flex;">
  <ion-row justify-content-center>
    <ion-col align-self-center>
      <form #f="ngForm" (ngSubmit)="sendCompany()">
        <div padding>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" name="nome" [(ngModel)]="company.nome" [disabled]="false" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Latitude</ion-label>
            <ion-input type="text" name="latitude" [(ngModel)]="company.latitude" [disabled]="false" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Longitude</ion-label>
            <ion-input type="text" name="longitude" [(ngModel)]="company.longitude" [disabled]="false" required>
            </ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button *ngIf="btnEnabled" class="btn-login" expand="block" [disabled]="!f.valid" type="submit">
            Confirmar
          </ion-button>
          <ion-button *ngIf="!btnEnabled" class="btn-login" expand="block">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-button>
        </div>
        <div padding>
          <ion-button class="btn-login" expand="block" fill="outline" routerDirection="'root'" routerLink="/lancamentos"
            routerLinkActive="active">Voltar</ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>