<ion-grid style="display: flex;">
  <ion-row justify-content-center>
    <ion-col align-self-center>
      <form #f="ngForm" (ngSubmit)="sendQrcode()">
        <div padding>
          <ion-button expand="block" color="secondary" style="color: #000000" (click)="qrCodeReader()">Ler QRCode
          </ion-button>
        </div>
        <div padding>
          <ion-item>
            <ion-label position="floating">QRCode</ion-label>
            <ion-input type="text" name="qrcode" [(ngModel)]="qrcode" [disabled]="false" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Empresa</ion-label>
            <ion-select type="text" name="company" [(ngModel)]="company" [disabled]="false" required
              cancelText="Cancelar" okText="Confirmar">
              <ion-select-option *ngFor="let companyApi of companies" value="{{ companyApi.id_empresa }}">
                {{ companyApi.nome }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Latitude</ion-label>
            <ion-input type="text" name="latitude" [(ngModel)]="latitude" [disabled]="false" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Longitude</ion-label>
            <ion-input type="text" name="longitude" [(ngModel)]="longitude" [disabled]="false" required></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button *ngIf="btnEnabled" class="btn-login" expand="block" [disabled]="!company" type="submit">
            Confirmar
          </ion-button>
          <ion-button *ngIf="!btnEnabled" class="btn-login" expand="block">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-button>
        </div>
        <div padding>
          <ion-button class="btn-login" expand="block" fill="outline" routerDirection="'root'" routerLink="/lancamentos"
            routerLinkActive="active">Voltar</ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>