<ion-grid style="display: flex;">
  <ion-row justify-content-center>
    <ion-col align-self-center>
      <form #f="ngForm" (ngSubmit)="register(f)">
        <div text-center style="margin:20px 0px;">
          <img src="" />
        </div>
        <div padding>
          <ion-item>
            <ion-label position="floating">Nome Completo</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" name="username" [(ngModel)]="username" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="password" required (keyup.enter)="register(f)">
            </ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button *ngIf="btnEnabled" class="btn-login" expand="block" [disabled]="!f.valid" type="submit">
            Cadastrar-se
          </ion-button>
          <ion-button *ngIf="!btnEnabled" class="btn-login" expand="block">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-button>
        </div>
        <div padding>
          <ion-button class="btn-login" expand="block" fill="outline" routerDirection="'root'" routerLink="/login"
            routerLinkActive="active">Voltar</ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>