<ion-grid style="display: flex;">
  <ion-row justify-content-center>
    <ion-col align-self-center>
      <form #f="ngForm" (ngSubmit)="sendEntry()">
        <div padding>
          <ion-button expand="block" color="secondary" style="color: #000000" (click)="qrCodeReader()">Ler QRCode
          </ion-button>
        </div>
        <div padding>
          <ion-item>
            <ion-label position="floating">Empresa</ion-label>
            <ion-input type="text" name="company" [(ngModel)]="company" [disabled]="true" required></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button *ngIf="btnEnabled" class="btn-login" expand="block" [disabled]="!company" type="submit">
            Confirmar
          </ion-button>
          <ion-button *ngIf="!btnEnabled" class="btn-login" expand="block">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-button>
        </div>
        <div padding>
          <ion-button class="btn-login" expand="block" fill="outline" routerDirection="'root'" routerLink="/lancamentos"
            routerLinkActive="active">Voltar</ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>